<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= site.metadata.description %>">

<title><%= site.metadata.title %></title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ec4899">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- Social stuff -->
<meta property="og:image" content="/images/mugshot.jpeg">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="<%= site.metadata.title %>">

<!-- App CSS -->
<link rel="stylesheet" data-turbolinks-track="reload" href="/frontend/styles/index.css">

<style>
  :where(:not(:defined)) {
    opacity: 0;
    transition: opacity 25ms;
  }
  :where(:defined) {
    opacity: 1;
  }
</style>

<!-- Shoelace -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/themes/light.css">

<%= render "importmaps" %>

<!-- App JS -->
<script type="module" data-turbolinks-track="reload">
  import { Controller, Application } from "stimulus"
  import { setBasePath } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/utilities/base-path.js';
  setBasePath('https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/');
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/icon/icon.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/button/button.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/alert/alert.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/drawer/drawer.js"
  import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.64/dist/components/icon-button/icon-button.js"
  import "bridgetown-quick-search"
  import "konnors-pc"
  import mrujs from "mrujs"
  import Turbolinks from "turbolinks"

  class SearchController extends Controller {
    static get targets() {
      return ["container"]
    }

    show() {
      this.containerTarget.removeAttribute("hidden");
      document.querySelector("kpc-container").setAttribute("hidden", "")
      document.querySelector("body").style.overflow = "hidden"
    }

    hide() {
      this.containerTarget.setAttribute("hidden", "")
      document.querySelector("kpc-container").removeAttribute("hidden")
      document.querySelector("body").style.overflow = "auto"
    }
  }

  class SideNavController extends Controller {
    open() {
      this.drawer.show()
    }

    close() {
      this.drawer.hide()
    }

    toggle() {
      if (this.drawer.open) {
        this.open()
      } else {
        this.close()
      }
    }

    get drawer() {
      return document.querySelector("#side-nav-drawer")
    }
  }

  mrujs.start()
  Turbolinks.start()

  const application = Application.start()
  application.register("side-nav", SideNavController)
  application.register("search", SearchController)
</script>
