<a class="nav-link logo__link" href="/">
  <%= render_svg "images/mrujs-ruby", height: 50, width: 50 %>
  <span class="logo__text"><span style="font-weight: 100;">[</span>mrujs<span style="font-weight: 100;">]</span></span>
</a>
