<div>
  <a href="/" data-remote="true" id="remote-get-link" data-turbo="false">Remote Get Link</a>
</div>

<div>
  <a href="/" data-method="get" id="remote-get-link" data-turbo="false">Method Get Link</a>
</div>

<div>
  <a href="/" id="remote-get-link" data-turbo="false">Go home</a>
</div>

<div>
  <a href="/" data-remote="true" data-method="delete" id="remote-delete-link" data-turbo="false">Remote delete link!</a>
</div>
