<div>
  <a href="/" data-remote="true" id="remote-get-link">Remote Get Link</a>
</div>

<div>
  <a href="/" data-method="get" id="remote-get-link">Method Get Link</a>
</div>

<div>
  <a href="/" id="remote-get-link">Go home</a>
</div>

<div>
  <a href="/" data-remote="true" data-method="delete" id="remote-delete-link">Remote delete link!</a>
</div>
